GROQ_API_KEY=
# GROQ_API_KEY_2=
TAVILY_API_KEY=

GROQ_MODEL=llama-3.3-70b-versatile
GROQ_BRAIN_MODEL=llama-3.1-8b-instant

ASSISTANT_NAME=Jarvis
JARVIS_USER_TITLE=Sir
JARVIS_OWNER_NAME=Aryan
TTS_VOICE=en-GB-RyanNeural
TTS_RATE=+22%